* {
  box-sizing: border-box;
  font-family: Helvetica;
}

.header {
  padding: 80px;
  text-align: center;
  background-image: url("heading.jpeg");
  background-size: cover;
  color: black;
}
.header h1 {
  font-size: 70px;
  background: #5edfff;
  margin: 0px 0px 70px 0px;
}
.header p {
  font-size: 40px;
  background: #5edfff;
  margin: 130px 0px 0px 0px;
}

.navbar {
  overflow: hidden;
  background: #5edfff;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
}
.navbar a.right {
  float: right;
}
.navbar a:hover {
  background: #3e64ff;
  color: black;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 31.5%;
  background: #b2fcff;
  padding: 20px;
}
.main {
  flex: 68.5%;
  background: #ecfcff;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #5edfff;
}

.footer h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 870px) {
  .header {
    padding: 40px;
    text-align: center;
    font-family: Helvetica;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
  }

  .header h1 {
    font-size: 60px;
  }
}

@media (max-width: 750px) {
  .header {
    padding: 40px;
    text-align: center;
    font-family: Helvetica;
    font-size: 30px;
    background-repeat: no-repeat;
    background-image: none;
    background-color: #ecfcff;
    color: black;
  }

  .header h1 {
    font-size: 60px;
  }
}